/* == GRID STYLES == */
.container {
  position: relative;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.fluid{
  position: relative;
  width:98%;
  padding: 0 12px;
  box-sizing: border-box;
  margin: 0 auto;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 95%;
    padding: 0;
  }
}

@media (min-width: 1023px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66667%;
  }
  .two.columns {
    width: 13.33333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66667%;
  }
  .five.columns {
    width: 39.33333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66667%;
  }
  .eight.columns {
    width: 65.33333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66667%;
  }
  .eleven.columns {
    width: 91.33333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66667%;
  }
  .two-thirds.column {
    width: 65.33333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
.fullwidth{
  clear: both;
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}
